/* Set up left form container */
.update-appointment-form-container {
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 50%;
  padding-bottom: 80px;
  background-color: grey;
}


/* Set up form styles */
.update-appointment-form {
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
  padding: 50px 70px;
  background: #f4f7f8;
  border-radius: 20px;
}

.update-appointment-label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.update-appointment-form-input:nth-child(5) {
  flex-basis: 100%; /* full width of the available space */
}

.update-appointment-form-input {
  width: 50%;
  width: calc(100% /2 - 10px);
}

.update-appointment-form-input input[type="text"],
.update-appointment-form-input input[type="number"],
.update-appointment-form-input input[type="date"],
.update-appointment-form-input textarea,
.update-appointment-form-input select {
  border: none;
  background-color: #e8eeef;
}

.update-appointment-form-input textarea {
  padding: 10px;
  height: 50px;
  border: none;
}

/* Set up input validation error styles */
.input-validation-error {
  color: red;
  font-weight: normal;
}

.update-appointment-form-button {
  display: flex;
  flex-direction: row;
  width: 100%;
  
}