/* Set up main container*/
.update-appointment-main-container {
    justify-content: center;
    align-items: center;
    margin: 20px;
    width:100% ;
    height: 100%;
    background-color:#5fcf80;
    
  }

/* Set up main container*/
.update-appointment-form-container {
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 30%;
  padding-bottom: 80px;
  background-color: grey;
}

/* Set up form update appointment*/
.update-appointment-form {
  max-width: 400px;
  margin: 10px auto;
  background:  #d7dadc;
  border-radius: 8px;
  display: block;
  flex-wrap:nowrap;
  max-width: 80%;
  align-items: center;
  justify-content: space-between;
  padding: 50px 70px;
}



/* Set up form update appointment*/
.update-appointment-form-input[type="text"],
.update-appointment-form-input[type="date"],
.update-appointment-form-input[type="number"],
.update-appointment-form-input textarea,
.update-appointment-form-input select {
  border: none;
  background-color:  #ffffff;
}


/* Set up form update appointment label*/ 
.update-appointment-lable {
  display: block;
  font-weight: bold;
  display: block;
  align-items: center;
  font-size: 16px;
  margin-bottom: 8px;
  width: 300px;
  border: none;
  background:  #e8eeef;
  
}

/* Set up input validation error styles */
  .input-validation-error {
    color: red;
    font-weight: normal;
  }
  
  /* Set up submit button styles */
  .update-appointment-form-button  {
    display: flex;
    flex-direction: row;
    width: 300%;
    background:  #e8eeef;
  }  

  /* Set up textarea */
  .update-appointment-form-input textarea {
    padding: 10px;
    height: 50px;
    width: 265px;
    background:  #feffff;
    border: none;
  }

  /* Set up radio button styles */
  .form-input-update-appointment input[type="radio"] {
  
    /* display:flex; */
  }
  
  /* Set up radio button label styles */
  .update-appointment-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  /* Set up radio button label styles when selected */
  .update-appointment-form-input[type="radio"]:checked + label {
    font-weight: bold;
  }

  
/* Set up submit button styles */
 .btn-primary {
  width: 100%; 
  }