.short-expiry-main-container {
  padding: 10px;
  background-color: rgb(170, 170, 192);
  }

.table {
  table-layout: fixed;
  border: 1px solid black;
}

.view-short-expiry-filter {
  display: flex;
  flex-direction: row;
  width: 400px;
} 
  
.view-short-expiry-filter select {
  float: right;
  width: 200px;
}

  .view-short-expiry-label {
    font-weight: bold;
    width: 180px;
  }