.login-background{
  background-image: url(./../../images/background.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.form-group {
  position: relative;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.input-icon {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  left: 10px;
  color: #aaa;
}

.frm-control {
  padding-left: 35px;
  font-size: 20px;
  width: 99%;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
  border-bottom: 2px solid rgb(21, 0, 255);
  background-color: rgba(255, 255, 255, 0.6);
}

.frm-control:focus {
  border-bottom: 2px solid rgb(214, 4, 4);
}

.submit-btn{
  margin-top: 20px;
}

.form-topic{
  font-size: 35px;
  text-align: center;
}

.form-subtopic{
  font-size: 20px;
  color: #656464;
  margin-bottom: 20px;
  text-align: center;
}