.registration-form-container {
  align-items: center;
  justify-content: center;
  background-color: #706e6e;
  width:40%;
  margin: auto;
  padding: 40px;
  border-radius: 5px;
}

.registration-forms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* flex-direction: column;  */
  margin: 20px 10px;
  padding: 20px 20px;
  background: #c5c5d1;
  padding-right: 20px;
  width: 100%;
}

.registration-form-input{
  margin-bottom: 20px;
  width: 50%;
  width: calc(100% /2 - 10px);
  background-color: #000000;

}

.registration-form-input:nth-child(11) {
  flex-basis: 100%; /* full width of the available space */
}

.registration-lable{
  font-size: 16px;
  font-weight: bold; 
  text-align: left;

}

.registration-lable {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  width: 200px;
}

.registration-input{
  text-align: left;
  width: 500px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;

}

.registration-input:focus {
  outline: none;
  border: 0px solid #000000;
}

.t-container {
  margin: 10px 10px auto 10px;
  padding: 10px 10px;
  width: 60%;
  background-color: rgb(144, 144, 148);
  float: right;
}

.registration-form-control{
  width: 50%;
  height: 100px;
}

.registration-form-control-0{
  height: 38px;
}

.registration-input{
  width: 200px;
}

.registration-form-button .btn {
  flex-wrap: none;
}

.registration-form-button{
  width: 100px;
}
.row{
  overflow: hidden;
  height: 80px;
  display: flex;
  width: 800px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #f4f4f5;
}

.column {
  float: left;
  width: 40%;
}


