.main-container {
  flex-direction: row;
  align-items:center;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color: #b65858;
}

.label {
  font-size: 16px;
  font-weight: bold; 
  text-align: left;
}


.input {
  text-align: left;
  width: 500px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

.input:focus {
  outline: none;
  border: 0px solid #000000;
}

.f-container {
  align-items: center;
  justify-content: center;
  margin: 10px 10px auto 10px;
  float: left;
  background-color: #706e6e;
  width:40%;
  padding: 40px;
  border-radius: 5px;
}

.forms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* flex-direction: column;  */
  margin: 20px 10px;
  padding: 20px 20px;
  background: #c5c5d1;
  padding-right: 20px;
  width: 100%;

}


.t-container {
  margin: 10px 10px auto 10px;
  padding: 10px 10px;
  width: 60%;
  background-color: rgb(144, 144, 148);
  float: right;
}

.f-input {
  margin-bottom: 20px;
  width: 50%;
  width: calc(100% /2 - 10px);
}

.f-input:nth-child(11) {
  flex-basis: 100%; /* full width of the available space */
}
.l1 {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  width: 200px;
}

.form-control{
  width: 500px;
}

.form-control0{
  height: 38px;
}

.input1{
  width: 200px;
}

.form-button .btn {
  flex-wrap: none;
}

.form-button{
  width: 100px;
}
.row{
  overflow: hidden;
  height: 80px;
  display: flex;
  width: 800px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #f4f4f5;
}

.column {
  float: left;
  width: 40%;
}
