.registration-form-container {
  align-items: center;
  justify-content: center;
  background-color: #706e6e;
  width:50%;
  margin: auto;
  padding-bottom: 20px;
}

.registration-forms{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding: 50px 70px;
  background: #c5c5d1;
  max-width: 80%;
  border-radius: 20px;
}


.registration-form-input{
 width: 100%;
 width: calc(100% /2 - 10px);

}

.registration-form-input:nth-child(9) {
  flex-basis: 100%; /* full width of the available space */
}

.registration-form-input:nth-child(12) {
  flex-basis: 100%; /* full width of the available space */
}


.registration-lable {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.registration-input{
  text-align: left;
  width: 500px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;

}


.registration-input input[type="text"],
.registration-input input[type="number"],
.registration-input input[type="date"],
.uregistration-input textarea,
.registration-input select {
  border: none;
  background-color: #e8eeef;
}


.t-container {
  margin: 10px 10px auto 10px;
  padding: 10px 10px;
  width: 60%;
  background-color: rgb(144, 144, 148);
  float: right;
}

/* .form-control{
  border-radius: 5px;
  height: 30px;
}
    */
.form-control-0{
  height: 36px;
  border-radius: 8px;
}

.registration-input{
  width: 200px;
}

.registration-form-button .btn {
  flex-wrap: none;
}

.registration-form-button{
  width: 500px;
}

.registration-input textarea {
  padding: 10px;
  height: 50px;
  border: none;
  border-radius: 8px;
}

.registration-input-0{
  display: inline-block;
  margin: auto;
}

