.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
   
  }
  
  .navbar {
    display: flex;
    justify-content: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .nav-links a {
    color: #555;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
  }
  
  .nav-links a:hover {
    background-color: #f0f0f0;
  }
