/* Set up main container*/
.main-container-add-appointment {
    justify-content: center;
    align-items: center;
    margin: 20px;
    width:100% ;
    height: 100%;
    background-color:	#660066;
    
  }

/* Set up main container*/
.form-container-add-appointment{
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 30%;
  padding-bottom: 80px;
  background-color:#c9a7ddc0	;
}

/* Set up form add appointment*/
.form-add-appointment {
  max-width: 400px;
  margin: 10px auto;
  background: #f2eef39d;
  border-radius: 8px;
  display: block;
  flex-wrap:nowrap;
  max-width: 80%;
  align-items: center;
  justify-content: space-between;
  padding: 50px 70px;
}


/* Set up form add appointment*/
.form-input-add-appointment input[type="text"],
.form-input-add-appointment input[type="date"],
.form-input-add-appointment input[type="number"],
.form-input-add-appointment textarea,
.form-input-add-appointment select {
  background:  #e8eeef;
  border: none; 
}

/* Set up submit button styles */
.form-button-add-appointment {
width: 100%; 
}

/* Set up form add appointment label*/ 
.label-add-appointment {
  display: block;
  font-weight: bold;
  display: block;
  align-items: center;
  font-size: 16px;
  width: 500;
  margin-bottom: 8px;
  border: none;
}

/* Set up input validation error styles */
  .input-validation-error-add-appointment {
    color: red;
    font-weight: normal;
  }
  
  /* Set up submit button styles */
  .form-button-add-appointment  {
    display: flex;
    flex-direction: row;
    width: 500%;
  }  
   /* Set up textarea */
  .form-input-add-appointment textarea {
    padding: 10px;
    height: 50px;
    width: 265px;
    background:  #e8eeef;
    border: none;
  }

  /* Set up radio button styles */
.form-input-add-appointment input[type="radio"] {
  
  /* display:flex; */
}

/* Set up radio button label styles */
.form-input-add-appointment label {
  display: block;
  margin-bottom: 10px;
}

/* Set up radio button label styles when selected */
.form-input-add-appointment input[type="radio"]:checked + label {
  font-weight: bold;
}

h1{
  text-align: center;
  font-weight: bold;
  
}



 



