/* Set up main container*/
.main-container-add-appointment {
    justify-content: center;
    align-items: center;
    margin: 20px;
    width:100% ;
    height: 100%;
    
  }

/* Set up main container*/
.form-container-add-appointment{
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 30%;
  padding-bottom: 80px;
  background-color: grey;
}

/* Set up form add appointment*/
.form-add-appointment {
  max-width: 400px;
  margin: 10px auto;
  background: #f4f7f8;
  border-radius: 8px;
  display: block;
  flex-wrap:nowrap;
  max-width: 80%;
  align-items: center;
  justify-content: space-between;
  padding: 50px 70px;
}

/* Set up form add appointment body*/
body
{
	background-color:#5fcf80;
}

/* Set up form add appointment*/
.form-input-add-appointment input[type="text"],
.form-input-add-appointment input[type="date"],
.form-input-add-appointment input[type="number"],
.form-input-add-appointment textarea,
.form-input-add-appointment select {
  background:  #e8eeef;
  border: none; 
}

/* Set up submit button styles */
button {
width: 100%; 
}

/* Set up form add appointment label*/ 
.label-add-appointment {
  display: block;
  font-weight: bold;
  display: block;
  align-items: center;
  font-size: 16px;
  margin-bottom: 8px;
}

/* Set up input validation error styles */
  .input-validation-error {
    color: red;
    font-weight: normal;
  }
  
  /* Set up submit button styles */
  .form-button-add-appointment  {
    display: flex;
    flex-direction: row;
    width: 500%;
  }  





 



