.view-attendance-main-container {
  padding: 10px;
  background-color: rgb(170, 170, 192);
}

.view-attendance-main-container h1{
  margin-bottom: 20px;
}
.view-attendance-filter {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
} 

.view-attendance-search-filter {
  display: flex;
  flex-direction: row;
  float: left;
  width: 300px;
} 

#filterSelect {
  border: none;
  margin-right: 20px;
  width: 200px;
}

.view-attendance-search-input {
  float: right;
  width: 30%;
}

.view-attendance-label {
  font-weight: bold;
  width: 100px;
}

.table {
  table-layout: fixed;
  border: 1px solid black;
}
  
  
