/* Set up main container*/
.view-appointment-main-container {
  justify-content: center;
  align-items: center;
  margin: 20px;
  width:100% ;
  height: 100%;
  background-color:#5fcf80;
  
}

/* Set up view appointment table*/
.table {
  table-layout: fixed;
  border: 1px solid rgb(24, 24, 24);
}

/* Set up view appointment filter*/
.view-appointment-filter {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  width: 200%;
} 


/* Set up view appointment search filter*/
 .dateFilter-view-appointment {
  display: flex;
  flex-direction: row;
  float: left;
  width: 100%;
  margin-right: 10px; 
} 


/* Set up view appointment search input*/
.view-appointment-search-input {
  float: right;
  width: 100%;
}

/* Set up view appointment lable*/
.view-appointment-label {
  font-weight: bold;
  width: 300px;
}