h2{
    text-align: center;
}


.g-form-container {
    align-items: center;
    justify-content: center;
    background-color: #c98eca;
    width:100%;
    margin: auto;
    padding-bottom: 20px;
  }

  .g-forms{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 50px 60px;
    background: #c5c5d1;
    max-width: 70%;

  }
  

